*{
	font-family: Georgia, "Times New Roman",
          Times, serif;
	background-color:white;
} 

button{ 
	position: absolute;
	color:white;
	top: 30 px;
	right:15px;
	color:black ;
} 

h1{ 
	padding: 5px 5px 5px 5px ;
	left:10px;
	background-color:#FF9E5B ;
	color: white;
}

h3{ 
	
	color:#FF9E5B;
}	

footer{ 
	
	color:#FF9E5B;
}	


