*{
	font-family: Georgia, "Times New Roman",
          Times, serif;
	background-color:white;
} 


form{
	margin:20px;
	padding:15px;
}



h2{ 

	color:#FF9E5B;
}	


button{ 
	position: absolute
	top:100px;
	right:20px;
	color:black ;
} 
